<%- include('../partials/header') %>

    <form action="/ingredients" method="POST" class="formlayout">
        <label>Adding Ingredients:</label>
        <input class='AddIngForm' type="text" name="ingredient" placeholder="Input Here"></br>
        <select class='AddIngForm' name="category">
            <option value="Fruit and Vegetables">Fruit and Vegetables</option>
            <option value="Starch">Starch</option>
            <option value="Dairy">Dairy</option>
            <option value="Protein">Protein</option>
            <option value="Fat">Fat</option>
        </select>
        Like?<input class='AddIngForm' type="checkbox" name="like" checked>
        <input type="submit">
    </form>
<div class="cookbooklook">
    <table class="tablelook">
        <tr>
            <th>Ingredient</th>
            <th>Category</th>
            <th>Like?</th>
            <th>Remove</th>
        </tr>
        <tbody>
            <% ingredient.forEach(i=> { %>
                <tr>
                    <td>
                        <%= i.ingredient %>
                    </td>
                    <td>
                        <%= i.category %>
                    </td>
                    <td>
                        <%= i.like ? 'Yes' : 'Nope' %>
                    </td>
                    <td>
                        <% if (user && user._id.equals(i.user)) { %>
                        <form action="/ingredients?_method=DELETE" method="POST">
                            <input type="hidden" name='remove' value="<%=i._id%>">
                            <button id='confirm' type="submit">X</button>
                        </form>
                        <% } %>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
</div>
    <%- include('../partials/footer') %>