<%- include('../partials/header') %>

    <form action="/recipes/<%= recipe.id %>?_method=PUT" method="POST">
        <label>Tilte</label>
        <input type="text" Name="title" value="<%= recipe.title %> " required>
        <label>Cuisne</label>
        <select name='cuisine' required autocomplete="off">
            <option value="">Pleaes choose an option</option>
            <option value="Italian">Italian</option>
            <option value="Japanese">Japanese</option>
            <option value="Chinese">Chinese</option>
            <option value="Indian">Indian</option>
            <option value="American">American</option>
        </select>
        <input type="submit" value="Change Recipe">
    </form>

    <ul>
        <% recipe.ingredients.forEach(i=> { %>
            <li>
                <%= i.ingredient %> 
                <form action="/recipes/<%= recipe._id %>/RemoveIngredient?_method=DELETE" method="POST">
                    <button type="submit" name="ing" value="<%= i.ingredient %>">Remove</button>
                  </form>
            </li>
            <% }) %>
    </ul>
    <ol>
        <% recipe.method.forEach(m=> { %>
            <li>
                <%= m %>
            </li>
            <% }) %>
    </ol>

    <%- include('../partials/footer') %>