<%- include('../partials/header') %>


  <ul>
    <% recipe.ingredients.forEach(i => { %>
      <li><%= i.ingredient %> </li>
    <% }) %>
  </ul>
  <ol>
    <%- recipe.method.map(m=>
      `<li>${m}</li>`
      ) %>
  </ol>
  <h2>
    <%= recipe.cuisine %>
  </h2>
  <h3>
    <%= recipe.userName %>
  </h3>

  <% if (user && user._id.equals(recipe.user)) { %>
    <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
      <button type="submit">DELETE RECIPE</button>
    </form>
    <button><a href="/recipes/<%= recipe.id %>/edit">EDIT RECIPE</a></button>
    <% } %>

      <%- include('../partials/footer') %>