<%- include('../partials/header') %>

  <label>Cuisine Type:
    <%= recipe.cuisine %></br>
      Created by:
      <%= recipe.userName %>
  </label>
  <div class="cookbooklook">
    <ul class="List" id="ingredList">
      <label>Ingredients:</label>
      <% recipe.ingredients.forEach(i=> { %>
        <li>
          <%= i.ingredient %>
        </li>
        <% }) %>
    </ul>
    <ol class="List" id="methodSteps">
      <label>Step by Step:</label>
      <% recipe.method.forEach(m=> { %>
        <li>
          <%= m %>
        </li>
        <% }) %>
    </ol>
  </div>

  <div class="deleteAndEdit">
    <% if (user && user._id.equals(recipe.user)) { %>
      <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
        <button type="submit">DELETE RECIPE</button>
      </form>
      <button><a href="/recipes/<%= recipe.id %>/edit">EDIT RECIPE</a></button>
      <% } %>
  </div>
  <%- include('../partials/footer') %>