<%- include('../partials/header') %>


<ul>
    <%- recipe.ingredients.map(i => 
      `<li>${i.ingredient}</li>`
    ) %>
  </ul>
<h1><%= recipe.method %> </h1>
<h2><%= recipe.cuisine %> </h2>
<h3><%= recipe.userName %> </h3>



<%- include('../partials/footer') %>