<%- include('../partials/header') %>

  <p>Cuisine Type:
    <%= recipe.cuisine %>
  </p>
<div class="IngAndMethodList">
  <ul class="List">Ingredients:
    <% recipe.ingredients.forEach(i=> { %>
      <li>
        <%= i.ingredient %>
      </li>
      <% }) %>
  </ul>
  <ol class="List">Step by Step
    <% recipe.method.forEach(m=> { %>
      <li>
        <%= m %>
      </li>
      <% }) %>
  </ol>
</div>
  <p>Create by:
    <%= recipe.userName %>
  </p>

  <% if (user && user._id.equals(recipe.user)) { %>
    <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
      <button type="submit">DELETE RECIPE</button>
    </form>
    <button><a href="/recipes/<%= recipe.id %>/edit">EDIT RECIPE</a></button>
    <% } %>

      <%- include('../partials/footer') %>